@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
    position: relative;
    background-color: cadetblue;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

textarea {
    width: 900px;
}

textarea, input {
    font-size: 18px;
    background-color: white;
}

button {
    border-color: black;
    margin: 20px;
    display: flex;
    height: 50px;
    width: 200px;
    font-size: 20px;
    transition: 0.5s;
}

button:hover {
    background-color: cornflowerblue;
    font-size: 24px;
}

#result-png {
    margin: 20px;
}

#result-svg {
    margin: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

@media only screen and (max-device-width: 900px) {
    .container {
        font-size: 22px;
    }
    h1 {
        font-size: 28px;
    }
    button {
        width: 200px;
    }
    textarea {
        width: 600px;
        height: 150px;
        margin: 20px;
        font-size: 18px;
    }
    input {
        width: 100px;
    }
}

@media only screen and (max-device-width: 700px) {
    .container {
        font-size: 22px;
    }
    h1 {
        font-size: 20px;
    }
    button {
        width: 140px;
    }
    textarea {
        width: 300px;
        height: 150px;
        margin: 20px;
        font-size: 16px;
    }
    input {
        width: 60px;
    }
}
